* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: linear-gradient(90deg, #020617, #0b1d3a);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  height: 100%;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo a {
  color: #38bdf8;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 22px;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #38bdf8;
}

.nav-btn a {
  padding: 7px 16px;
  border-radius: 8px;
  background: #1da1f2;
  color: #000;
  font-weight: bold;
}

.nav-btn a:hover {
  background: #38bdf8;
  color: #000;
}

/* MENU BUTTON (MOBILE) */
.menu-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  right: -280px;
  width: 280px;
  height: 100vh;
  background: #020617;
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 20px;
  transition: 0.4s ease;
  z-index: 200;
}

.sidebar.open {
  right: 0;
}

.sidebar a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 18px;
}

.sidebar a:hover {
  color: #38bdf8;
}

.close-btn {
  align-self: flex-end;
  background: none;
  border: none;
  color: white;
  margin-top: 50px;
  font-size: 24px;
  cursor: pointer;
}

/* OVERLAY */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  z-index: 150;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .nav-links.desktop {
    display: none;
  }

  .menu-btn {
    display: block;
  }
}
