/* Container */
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  padding: 30px;
  background: #f5f5f5;
}

/* Loading */
.loading {
  text-align: center;
  margin-top: 50px;
  font-size: 22px;
}

/* Card */
.product-card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.product-card:hover {
  transform: translateY(-8px);
}

/* Image */
.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Text */
.product-title {
  margin: 10px 0;
  font-size: 18px;
}

/* .product-desc {
  font-size: 14px;
  color: #666;
  height: 40px;
  overflow: hidden;
} */
.product-desc {
  overflow: hidden;         /* Extra text hide kare */
  white-space: nowrap;      /* Single line me dikhaye */
  text-overflow: ellipsis;  /* "..." dikhaye end me */
  max-width: 100%;          /* card ke andar fit ho */
  font-size: 14px;          /* optional, chhota text */
  color: #555;
}

/* Info */
.product-info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-weight: bold;
}

/* Button */
.add-btn {
  width: 100%;
  padding: 10px;
  /* background: #000; */
   background: #ff6a00; 
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}
.product-filter-bar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px;
}

.product-filter-bar input {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.category-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.category-buttons button {
  padding: 8px 14px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
  font-size: 14px;
}

.category-buttons button.active {
  background: #ff7a00;
  color: white;
  border-color: #ff7a00;
}

.add-btn:hover {
  /* background: #ff6a00; */
   background: #000;

}
